:root {
  --body-background-color: #282a36; /* Background */
  --body-text-color: #f8f8f2; /* Foreground */
  --card-background-color: #44475a; /* Current Line */
  --nav-background-color: #44475a; /* Current Line */
  --nav-border-bottom-color: #6272a4; /* Comment (bluish gray) */
  --nav-current-border-bottom-color: #50fa7b; /* Green (for highlights) */
  --card-border-color: #6272a4; /* Comment (bluish gray) */
  --down-border-left-color: #ff5555; /* Red */
  --down-background-color: #ff5555; /* Red */
  --degraded-border-left-color: #f1fa8c; /* Yellow */
  --up-border-left-color: #50fa7b; /* Green */
  --tag-color: #44475a; /* Current Line */
  --tag-up-background-color: #50fa7b; /* Green */
  --tag-down-background-color: #ff5555; /* Red */
  --tag-degraded-background-color: #f1fa8c; /* Yellow */
  --change-background-color: #f1fa8c; /* Yellow */
  --error-button-border-color: #ff79c6; /* Pink */
  --error-button-background-color: #bd93f9; /* Purple */
  --error-button-color: #f8f8f2; /* Foreground */
  --submit-button-border-color: #ff79c6; /* Pink */
  --submit-button-background-color: #bd93f9; /* Purple */
  --submit-button-color: #f8f8f2; /* Foreground */
  --graph-opacity: 1;
  --graph-filter: none;
}