/* Gruvbox Dark theme for Upptime (compact layout) */
@import url("../compact-layout.css");

:root {
  --body-background-color: #282828;
  --body-text-color: #ebdbb2;
  --card-background-color: #3c3836;
  --card-border-color: #504945;
  --nav-background-color: #1d2021;
  --nav-border-bottom-color: #504945;
  --nav-current-border-bottom-color: #fe8019;
  --up-border-left-color: #8ec07c;
  --down-border-left-color: #fb4934;
  --down-background-color: #5a2a24;
  --degraded-border-left-color: #fabd2f;
  --tag-color: #282828;
  --tag-up-background-color: #8ec07c;
  --tag-down-background-color: #fb4934;
  --tag-degraded-background-color: #fabd2f;
  --change-background-color: #fabd2f;
  --code-color: #ebdbb2;
  --code-background-color: #3c3836;
  --error-button-border-color: #8ec07c;
  --error-button-background-color: #8ec07c;
  --error-button-color: #282828;
  --submit-button-border-color: #8ec07c;
  --submit-button-background-color: #8ec07c;
  --submit-button-color: #282828;
  --graph-opacity: 1;
  --graph-filter: hue-rotate(29deg);
}
