/* Rosé Pine theme for Upptime (compact layout) */
@import url("../compact-layout.css");

:root {
  --body-background-color: #191724;
  --body-text-color: #e0def4;
  --card-background-color: #26233a;
  --card-border-color: #403d52;
  --nav-background-color: #1f1d2e;
  --nav-border-bottom-color: #403d52;
  --nav-current-border-bottom-color: #c4a7e7;
  --up-border-left-color: #9ccfd8;
  --down-border-left-color: #eb6f92;
  --down-background-color: #4a2537;
  --degraded-border-left-color: #f6c177;
  --tag-color: #191724;
  --tag-up-background-color: #9ccfd8;
  --tag-down-background-color: #eb6f92;
  --tag-degraded-background-color: #f6c177;
  --change-background-color: #f6c177;
  --code-color: #e0def4;
  --code-background-color: #26233a;
  --error-button-border-color: #c4a7e7;
  --error-button-background-color: #c4a7e7;
  --error-button-color: #191724;
  --submit-button-border-color: #c4a7e7;
  --submit-button-background-color: #c4a7e7;
  --submit-button-color: #191724;
  --graph-opacity: 1;
  --graph-filter: hue-rotate(99deg);
}
